.Header {
    background-color: #d0021b;
}
.Header:before {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;

    position: absolute;
    z-index: 10000;
    top: 2px;
    left: -2px;

    display: block;

    padding: 0 4px;

    content: 'WARNING!!';
    transform: rotate(-6deg);
    letter-spacing: 1px;

    color: #f8e71c;
    background-color: #000;
}
